* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

/* Header-styling */
#header {
    /* background-color: rgb(237, 243, 232); */
    padding: 0px 20px;
    display: flex;
    /* position: sticky;
    top: 0;
    left: 0; */
    background-color: white;
}

.logo {
    height: 100px;
    width: 220px;
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.imglogo {
    height: 90px;
    width: 200px;
}

#headdate {
    position: absolute;
    right: 45px;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(108, 117, 125);
}

#datebox {
    height: 50px;
    width: 600px;
    border: 1px solid rgb(255, 240, 240);
    position: absolute;
    right: 45px;
    display: flex;
    align-items: center;
}

/* Navbar-Styling */
#navbar {
    background-color: rgb(251, 255, 255);
    border: 1px solid rgb(229, 239, 239);
    padding: 6px 30px;
    overflow: none;
    display: flex;
    align-items: center;
    position:sticky;
    top:0px;
    left: 0;
}

#unorderlist {
    display: flex;
    margin-left: 22px;
}

.allitems {
    list-style: none;
    margin-left: 1px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(108, 117, 125);
    font-weight: 400;
    height: 54px;
    width: 115px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.itemactive {
    background-color: rgb(237, 28, 36);
    color: white;    

}
#catun{
margin-top:16.5rem;
position:relative;
right:6rem;
display: none;
}
.allitemssec{
    color: black;
    height:2rem;
   width: 30rem;
    /* border: 2px solid black; */
    margin-right: 20px;
    padding-top: 5px;
    padding-left: 20px;
    background-color: white;
}
#dropist{
    height:10px;
    width: 10px;
    margin-left: 4px;
    cursor: pointer;
}
.anchorist{
    color: rgb(108, 117, 125);
    text-decoration: none;
}
.anchorist:hover{
    color: white;
}
.allitems:hover {
    background-color: rgb(237, 28, 36);
    ;
    color: white;
}



#search {
    height: 40px;
    width: 200px;
    padding-left: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid rgb(108, 117, 125);
    border-right: none;
    outline: none;
    position: absolute;
    right: 130px;
}

#searchbtn {
    height: 40px;
    width: 40px;
    border: 1px solid rgb(108, 117, 125);
    display: flex;
    align-items: center;
    position: absolute;
    right: 130px;
}

.imagebtn {
    height: 20px;
    width: 20px;
    margin-left: 9px;
}

/* mainsection */
#lefandrghsec{
    height:4rem;
    width: 70rem;
    /* border: 2px solid red; */
    margin-top:2rem;
    margin-left: 13rem;
    display: flex;
}
.lefbox{
    height:3.8rem;
    width: 45rem;
    border: 2px solid rgb(238, 248, 238);
    background-color: white;
    display: flex;
    align-items: center;
}
.buspartxt {
    color: rgb(42, 47, 51);
    font-size: 26px;
    padding-left: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Mukta', sans-serif;
}
.viewsbtn{
    padding-top:0px;
    padding-left:27rem;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(79, 88, 95);
    
}
.rghbox{
    height:3.8rem;
    width:23rem;
    border: 2px solid rgb(238, 238, 246);
    margin-left: 2rem;
    background-color: white;
    display: flex;
    align-items: center;
}
.lefandrghsec{
    height:100%;
    width: 70rem;
    /* border: 2px solid red; */
    margin-top:1rem;
    margin-left: 13rem;
    display: flex;
}
.lefboxsec{
    height:800px;
    width: 44.8rem;
    /* border: 2px solid blue; */
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2,340px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.lefboxmain{
    height:24rem;
    width: 21.5rem;
    /* border: 2px solid rgb(253, 255, 253); */
    background-color: white;
}
.techimg{
    height: 11rem;
    width: 21.3rem;
    border: 2px solid rgb(201, 190, 190);
}
.techtxt{
    padding-left:1.4rem;
    padding-top: .7rem;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:crimson;
}
.datist{
    font-family: "Roboto", sans-serif;
    font-size:14px;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
}
.headingtec{
    padding-left:1.4rem;
    padding-top: .5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(42, 47, 51);
    
}
.tecdet{
    padding-left:1.4rem;
    padding-top: .5rem;
    width: 19rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
}
.readtecall{
    height: 2rem;
    width:100px;
    margin-left: 1rem;
    margin-top:2px;
    background-color: rgb(225, 23, 63);
    color:white;
    border:2px solid crimson;
    font-size: 14px;
    font-family: cursive;
}



.rghboxsec{
    height:800px;
    width:23rem;
    /* border: 2px solid rgb(42, 5, 23); */
    margin-left: 2rem;
    background-color:whitesmoke;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* .rghboxsec::-webkit-scrollbar{
    overflow: hidden;
} */
#rghtrenbox{
    height:6.5rem;
    width:21.8rem;
    border: 2px solid rgb(254, 245, 245);
    display: grid;
    grid-gap: 1rem;
    background-color: white;
    grid-template-areas: 'imgpicist headtxtsec'
                         'imgpicist paratxtsec';
}

#imgpicist{
    grid-area: imgpicist;
}

#headtxtsec{
  grid-area: headtxtsec;
}
#paratxtsec{
  grid-area: paratxtsec;
}
.imgpicist{
    height:6.3rem;
    width:7rem;
    background-color: rgb(234, 234, 248);
    border: 2px solid rgb(250, 245, 245);
    
}
.headtxtsec{
    height: 50px;
    width: 70px;
    /* background-color:green; */
}
.paratxtsec{
    height: 50px;
    width: 70px;
    /* background-color: yellow; */

}
.imgistpic{
    height:6.2rem;
    width:7rem;
    border: 2px solid rgb(250, 245, 245);
}
.techtxt2{
    position: relative;
    right:6.4rem;
    width: 400px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.paratxtsec2{
    width:200px;
   position: relative;
   right:4.9rem;
   bottom:2rem;
}
.rghtrenbox2{
    margin-top:1.3rem;
}

#btns{
    display: flex;
    margin-top: 30px;
    margin-left:30rem;
}
.allbtnist{
    height: 37px;
    width: 37px;
    background-color: white;
    border: 1px solid rgb(234, 221, 221);
    color: red;
    font-size:14px;
}
.allbtnist2{
    background-color: rgb(214, 15, 15);
    color: white;
}
.imbtn{
    background: url('lessthan.png');
    background-size: cover;
     box-shadow: 2px 2px 3px 3px rgb(203, 28, 28);
}
.imbtn2{
    background: url('greater.png');
     box-shadow: 2px 2px 3px 3px rgb(203, 28, 28);
     background-size: cover;
}


/* footer-Styling */
#footerist {
    height:300px;
    width: 100vw;
    background-color: white;
    display: flex;
}

.boxfooter {
    height: 300px;
    width: 380px;
    /* border: 2px solid black; */
}

.boxfooterimgist {
    height: 90px;
    width: 200px;
    margin-left: 30px;
    margin-top: 15px;
}

.foottxtist {
    padding-top: 2px;
    padding-left: 40px;
    padding-right: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(108, 117, 125);
}

#allfoootbtn {
    display: flex;
    margin-top: 14px;
    margin-left: 34px;
}

.footbtnist {
    height: 38px;
    width: 38px;
    margin-left: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(153, 145, 145);
}

.inst2 {
    height: 15px;
    width: 15px;
    margin-left: 10px;
}

.linkedin {
    height: 20px;
    width: 20px;
    margin-left: 7px;
}

.footbtnist:hover {
    background-color: rgb(44, 58, 70);
}

.fotcattxt {
    padding-top: 40px;
    padding-left: 25px;
    font-size: 1.75rem;
    line-height: 1.2;
    color: #343a40;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#footcatbtnsec {
    margin-left: 25px;
    margin-top: 23px;

}

.footallbtnthird {
    height: 30px;
    width: 90px;
    margin-top: 10px;
    margin-left: 6px;
    border: 1px solid rgb(108, 117, 125);
    color: rgb(108, 117, 125);
    background-color: white;
}

.footallbtnthirdent {
    width: 110px;
}

.footallbtnthird:hover {
    background-color: rgb(108, 117, 125);
    color: white;
}

.aboutfoottxt{
    color:rgb(108, 117, 125);
    padding-top: 32px;
    padding-left: 25px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.advertisefoottxt{
    color:rgb(108, 117, 125);
    padding-top: 10px;
    padding-left: 25px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.policyfoottxt{
    color:rgb(108, 117, 125);
    padding-top: 10px;
    padding-left: 25px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.termsfoottxt{
    color:rgb(108, 117, 125);
    padding-top: 10px;
    padding-left: 25px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contactfoottxt{
    color:rgb(108, 117, 125);
    padding-top: 10px;
    padding-left: 25px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}